h1 "The way to get started is to quit talking and begin doing."
    span.font-italic.font-weight-light -Walt Disney
h1 "If you really look closely, most overnight successes took a long time."
    span.font-italic.font-weight-light -Steve Jobs
h1 "A successful man is one who can lay a firm foundation with the bricks others have thrown at him."
    span.font-italic.font-weight-light -David Brinkley
h1 "You miss 100% of the shots you don't take."
    span.font-italic.font-weight-light -Wayne Gretzky
h1 "An unexamined life is not worth living."
    span.font-italic.font-weight-light -Socrates
h1 "Wisely, and slow. They stumble that run fast.
    span.font-italic.font-weight-light -William Shakespeare
h1 “You only live once, but if you do it right, once is enough.”
    span.font-italic.font-weight-light -Mae West
h1 “Be the change that you wish to see in the world.”
    span.font-italic.font-weight-light -Mahatma Gandhi
h1 “In three words I can sum up everything I've learned about life: it goes on.”
    span.font-italic.font-weight-light -Robert Frost
h1 “To live is the rarest thing in the world. Most people exist, that is all.”
    span.font-italic.font-weight-light -Oscar Wilde
h1 “I have not failed. I've just found 10,000 ways that won't work.”
    span.font-italic.font-weight-light -Thomas A. Edison
h1 “Don’t let anyone ever make you feel like you don’t deserve what you want.”
    span.font-italic.font-weight-light –Heath Ledger
h1 “Great men are not born great, they grow great."
    span.font-italic.font-weight-light –Mario Puzo
h1 “Life is not the amount of breaths you take. It’s the moments that take your breath away.”
    span.font-italic.font-weight-light –Alex Hitchens
h1 “Life moves pretty fast. If you don’t stop and look around once in a while, you could miss it.”
    span.font-italic.font-weight-light –Ferris Bueller
h1 “Our lives are defined by opportunities, even the ones we miss.”
    span.font-italic.font-weight-light –Benjamin Button
h1 “You know, the ancient Egyptians had a beautiful belief about death. When their souls got to the entrance to heaven, the guards asked two questions. Their answers determined whether they were able to enter or not. ‘Have you found joy in your life?’ ‘Has your life brought joy to others?'” 
    span.font-italic.font-weight-light –Carter Chambers
h1 “You need to learn how to select your thoughts just the same way you select your clothes every day. This is a power you can cultivate. If you want to control things in your life so bad, work on the mind. That’s the only thing you should be trying to control.” 
    span.font-italic.font-weight-light –Richard
h1 “Some people can’t believe in themselves until someone else believes in them first.”
    span.font-italic.font-weight-light –Sean Maguire
h1 “It’s only after we’ve lost everything that we’re free to do anything.”
    span.font-italic.font-weight-light –Tyler Durden
h1 “At some point you’ve got to decide for yourself who you gonna be. Can’t let nobody make that decision for you.”
    span.font-italic.font-weight-light –Juan