doctype html
html(lang="en")
      head
        title Daily Motivational Quotes
        style
             include ../public/quotes.css
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        meta(type='viewport', content='device=width-device')
      body
        #error-page.mx-auto
          img.image(src="images/stitch.png", alt="stitch image")
          p.oops Oops! Something went wrong.
          .error-container
          if serverError
            p.error-label Error 
              span.status-code 500
            p.error-type Internal Server Error 
            a.error-link(href="https://www.westhost.com/knowledgebase/display/WES/What+Is+A+500+error#:~:text=The%20500%20Internal%20Server%20Error,what%20the%20exact%20problem%20is", target="_blank") Learn more.
          else if fileError
            p.error-label Error
              span#status-four-o-four.status-code 404
            p.error-type File Not Found
            a.error-link(href="https://www.ionos.com/digitalguide/websites/website-creation/what-does-the-404-not-found-error-mean/", target="_blank") Learn more.
          a(href='/')
            button.reload(type='reload') Reload