doctype html
html(lang="en")
      head
        title Daily Motivational Quotes
        style
             include ../public/quotes.css
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        meta(type='viewport', content='device=width-device')
      body.background
        .container
          h2 Daily Motivational Quotes
          include ../views/changingQuotes.pug
          img.mt-5.subscribe-icon(src="../images/subscribe_icon.png", alt="subscribe icon")
          p.bg-font Need some inspiration to get the day started?
          p.mb-5.small-font Subscribe to recieve daily motivational quotes
          block content


script
      include ../changeQuotes.js
