/* Main Page */

.background {
    width:100%;
    background:black;
    margin-top:5%;
    text-align:center;
    color:white;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:none;
    opacity:20%;
}

h2 {
    color: #eb8e8e;
}

.subscribe-icon {
    width:380px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-font {
    font-size:45px;
}

.small-font {
    font-size:18px;
}


/* Email Input */
label {
    font-size:30px;
}

#exampleInputEmail1 {
    width:400px;
    height:50px;
}


/* Subscribe Button */

button {
   background:#ff6666;
   font-family:Arial, Helvetica, sans-serif;
   border:none;
   font-weight:bolder;
   padding:7px 15px;
   color:white;
   border-radius: 50px !important;
}

button:hover {
    background:#ff66669f;
}

button:active {
    transform:scale(.9);
}


/* Quote Email */

.unsubscribe {
    color:darkgray;
}

.unsubscribe:hover {
    color:rgba(169, 169, 169, 0.534);
}

.unsubscribe:active {
    color:rgba(167, 160, 160, 0.877);
}


/* Unsubscribe Page */



/* Mobile Design */

@media(max-width:1000px) {
    .bg-font {
        font-size:35px;
    }

    h1 {
        font-size:30px !important;
    }
}


@media(max-width:500px) {
    h1 {
        font-size:25px !important;
    }
}

