#background {
    background-color:#99e6ff;
}

.container {
    margin:100px auto;
}

h1 {
    color:#004d80;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:none;
}

/* Author of the quote */
.font-italic {
    font-size:18px;
    margin-top:100px;
}

#darkBlueBackground {
    width:100%;
    height:600px;
    background-color:#004d80;
}

p {
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:40px;
    white-space:nowrap;
}

.opening-question,
.thank-you {
    font-size:45px;
    width:880px;
}

.subscribe-note {
    font-size:20px;
    padding-top:10px;
    padding-bottom:40px; 
    width:450px
}

/* Email Input */
label[for="exampleInputEmail1"] {
    font-size:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color:white;
    font-style: italic;
}
#exampleInputEmail1 {
    width:400px;
    height:50px;
    box-shadow: 4px 3px 6px black;
}

.email-exists {
    font-size: 18px;
    color:white;
}

/* Subscribe Button */

.btn {
   font-weight: bold !important;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size:18px !important;
   margin:50px 140px;
   box-shadow: inset 2px 2px 4px 2px #043657;
   border:none !important;
}


.thank-you {
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;
}

.material-icons {
    margin-left:10px;
}


/* Error Page */

#error-page {
    width:800px;
}

.oops {
    font-size:50px;
    font-weight:bold;
    color:black;
    margin-top:100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    width:350px;
    height:400px;
    position:absolute;
    left:800px;
    top:300px;
}

.error-container {
    margin-top:-60px;
}

.error-label {
    font-size:70px;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.status-code {
    color:#0066cc;
    font-size:160px;
    font-family:monospace;
}

#status-four-o-four {
    margin-left:30px;
}

.error-type {
    color:black;
    margin-top:-80px;
    font-size:25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.error-link {
    font-size:18px;
    margin-top:-100px;
}

.reload {
    background-color:#0066cc;
    color:white;
    border:none;
    border-radius:5px;
    box-shadow: 2px 2px 2px lightslategray;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    top:80px;
    left:-92px;
    width:100px;
    height:40px;
}

.reload:hover {
    background-color:#0080ff;
}

.reload:active {
    background-color:#0059b3;
}

/* Media Queries ------------- */

@media (max-width:625px) {
    .bg-white {
       width:450px !important;
    }
    h1 {
        font-size:23px !important;
    }
    #darkBlueBackground {
        height:auto;
    }
    .opening-question {
        font-size:22px;
        width:440px;
    }
    .subscribe-note {
        font-size:17px;
        width:370px;
    }
    label[for="exampleInputEmail1"] {
        font-size:25px;
        margin-left:60px;
    }
    #exampleInputEmail1 {
        width:300px;
    }

    #error-page {
        width:400px;
    }
    .oops {
        font-size:30px;
        margin-top:-10px;
    }
    .image {
        width:250px;
        height:300px;
        position:static;
    }
    .error-container {
       margin-top:-20px;
    }
    .error-label {
        font-size:40px;
    }
    .status-code {
        font-size:70px;
    }
    .error-type {
        margin-top:-50px; 
        font-size:18px;
    }
    .email-exists {
        white-space: normal !important;
    }

}


@media(min-width:626px) and (max-width:1000px) {
     .opening-question {
         font-size:28px;
         width:580px;
     }
     .subscribe-note {
         font-size:22px;
         width:460px;
     }
     #error-page {
         width:550px;
     }
     .oops {
        font-size:40px;
        margin-top:-40px;
    }
    .image {
        position:static;
    }
}

@media(min-width:1001px) and (max-width:1200px) {
    .image {
       left:400px;
    }
}

@media(min-width:1201px) and (max-width:1600px) {
    .image {
       left:600px;
    }
}